<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canli.oya.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cake"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cake"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.mainlist.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.details.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.mainlist.MainActivity" />

        <receiver android:name=".widget.BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>

        <service
            android:name=".widget.IngredientListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>